<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/public/style.css">
    <link rel="icon" type="image/png" href="/static/public/images/favicon.png"/>
    <title>rify - cla-Rify-ing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body >
    <!-- Header -->
    <header class="container">
        <nav class="flex justify-between py-6 items-center">
            <a href="/"><img src="/static/public/images/logo.png" alt="rify" width="106"></a>
            <ul class="hidden md:flex mt-4">
                <li><a href="/blog/how-it-works" class="font-poppins font-medium text-lg hover:bg-gray-200 px-3 py-2 mx-3 rounded-lg">How it works</a></li>
                <li><a href="/blog" class="font-poppins font-medium text-lg px-3 py-2 mx-3 rounded-lg hover:bg-gray-200">Blog</a></li>
                <li><a href="/download" class="font-poppins font-bold text-xl bg-rify-yellow hover:bg-yellow-400 rounded-lg py-3 px-7 ml-7">Get it on Chrome</a></li>
            </ul>
            <div class="flex md:hidden mt-4">
                <button class="mobile-menu-button"><i class="fas fa-bars text-3xl"></i></button>
            </div>
        </nav>
        <div class="bg-gray-100 px-2 py-5 mobile-menu hidden md:hidden">
            <ul>
                <li class="hover:bg-gray-200 px-5"><a class="font-poppins font-medium text-lg hover:bg-gray-200" href="/blog/how-it-works">How it works</a></li>
                <li class="py-1 hover:bg-gray-200 px-5"><a class="font-poppins font-medium text-lg hover:bg-gray-200" href="/blog">Blog</a></li>
                <li class="hover:bg-gray-200 px-5"><a class="font-poppins font-medium text-lg hover:bg-gray-200">Get it on Chrome</a></li>
            </ul>
        </div>
    </header>
    <!-- Header End -->
    <!-- Content -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <!-- Content End -->
    <!-- Footer -->
    <footer>
        <div class="mt-24 py-11 bg-rify-yellow">
            <ul class="flex flex-col md:flex-row items-center md:justify-center">
                <li class="font-poppins font-medium text-white hover:text-gray-100 text-2xl pr-6 underline"><a href="/download">Chrome Extension</a></li>
                <li class="font-poppins font-medium text-white hover:text-gray-100 text-2xl px-6 mt-3 md:mt-0 underline"><a href="/blog/how-it-works">How it works</a></li>
                <li class="font-poppins font-medium text-white hover:text-gray-100 text-2xl px-6 mt-3 md:mt-0 underline"><a href="/blog">Blog</a></li>
                <li class="font-poppins font-medium text-white hover:text-gray-100 text-2xl px-6 mt-3 md:mt-0 underline"><a href="mailto:miguelfernandes.personal@gmail.com">Contact</a></li>
            </ul>
        </div>
    </footer>
    <!-- Footer End -->
    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
</body>
</html>